[mysqld]
# GENERAL
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
pid_file = /var/lib/mysql/mysql.pid
user = mysql
port = 3306
storage_engine = InnoDBDefault_storage_engine
# INNODB
# 内存上限，每个连接的内存，排序，临时表，操作系统，剩下的全给mysql
innodb_buffer_pool_size = 
innodb_log_file_size = 
# 独立表空间模式，每个数据库的每个表都会生成一个数据空间
innodb_file_per_table = 1
innodB_flush_method = O_DIRECT
# MyISAM
key_buffer_size = 
## LOGGING
log_error = /var/lib/mysql/mysql-error.log
log_slow_queries = /var/lib/mysql/mysql-slow.log
## OTHER
tmp_table_size = 32M
max_heap_table_size = 32M
query_cache_type = 0
query_cache_size = 0
max_connections = 
thread_cache_size = 
table_cache_size = 
open_files_limit = 65535
[client]
socket = /var/lib/mysql/mysql.sock
port = 3306
